@import "tailwindcss";

@theme {
  --color-cine-dark: #0d0d0d;
  --color-cine-gold: #eab308;
  --color-cine-gray: #1f1f1f;
}

@layer base {
  body {
    @apply bg-cine-dark text-white antialiased;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}